body{
    padding: 0;
    margin:0;
}

.header-title{
    margin:0;
    padding-top: 5px;
    padding-left: 20vw;
    color: #f1f1f1;
}

.row {
    display: flex;
    margin: 0 -5px;
    height: 34vh;
    justify-content: center;
    padding-left: 20vh;
    padding-right: 20vh;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    height:100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    height:100%;

}

.big-column {
    float: left;
    width: 79%;
    height:100%;
    padding-top:3%;

}

.header{
    display: block;
    background-color: darkslategray;
    height: 7vh;
    margin-bottom: 10px;
}

.loan{
    visibility: hidden;
}

.text-left-hand-side{
    float: left;
    margin-left: 10px;
}

.text-right-hand-side{
    float: right;
    margin-right: 10px;
}

#get-loan-btn{
    cursor:pointer;
    position: relative;
    top: 20%;
    width: 75%;
    background-color: lightgreen;
    border-radius: 5px;
    border-style: hidden;
    padding: 10px 20px;
}

#spec-field{
    list-style: none;
    float: left;
}

ul{
    display: inline-block;
    text-align: left;
}

.work{
    background-color: blue;

}

.bank{
    background-color: yellowgreen;
    margin-top: 80px;
}

.repay{
    visibility: hidden;
    margin-top: 10px;
    background-color: greenyellow;
}

.btn{
    cursor:pointer;
    color: #f1f1f1;
    border-radius: 5px;
    border-style: hidden;
    padding: 10px 20px;
}
#computer-picture{
    visibility: hidden;
   left: -38%;
    top: 10%;
    height: 25vh;
    position: relative;
    width: 25vh;
}

#computer-title{
    visibility: hidden;
    position: relative;
    bottom: 75%;
}
#computer-description{
    visibility: hidden;
    position: relative;
    top: -65%;
}
#computer-price{
    visibility: hidden;
    position: relative;
    top: -90%;
    left: 37%;
}
.buy-now{
    visibility: hidden;
    background-color: blue;
    position: relative;
    top: -90%;
    left: 37%;

}








